body, html {
  color: #dbdbdb;
  background-color: #272b30;
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
}
html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #dbdbdb;
}

.clear {
  clear: both;
}
.center {
  text-align: center;
}

#main {
  width: 1000px;
  margin: 40px auto;
}
#bar {
  background-color: #3a3f44;
  width: 100%;
  height: 60px;
}
#bar-content {
  width: 1000px;
  height: 100%;
  margin: 0px auto;
}
#bar h1 {
  margin: 0px;
  padding: 10px;
  color: #dbdbdb;
  float: left;
  text-shadow: rgba(0, 0, 0, 0.298039) 1px 1px 1px;
}
#bar input {
  width: 300px;
  float: left;
  margin: 12px 50px;
  display: block;
  background-color: #3E454D;
  font-size: 20px;
  padding: 5px;
  border: 1px solid #151515;
  border-radius: 5px;
  color: #666;
  transition: all 0.3s ease-out;
}
#bar input:focus {
  outline: none;
  border-color: #2A2E33;
  color: #efefef;
}
.movieNav {
  color: #dbdbdb;
  float: left;
  width: 300px;
  padding: 12px;
}
.movieNav img {
  float: left;
  height: 36px;
  width: 36px;
  border-radius: 18px;
}
.movieNav p {
  float: left;
  margin: 8px 12px;
}

.moviethumb {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 233px;
  width: 140px;
  background-color: #3a3f44;
  text-decoration: none;
  position: relative;
}
.moviethumb img.poster {
  width: 120px;
  height: 180px;
  margin: 10px;
}
.moviethumb img.user {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  right: 12px;
  top: 12px;
  box-shadow: -2px 2px 2px #000;
}
.moviethumb p {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #dbdbdb;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
}

.facebook-btn {
  margin-top: 2px;
  -moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
  -webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
  box-shadow:inset 0px 1px 0px 0px #7a8eb9;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
  background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
  background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  background-color:#637aad;
  border:1px solid #314179;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}
.facebook-btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
  background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
  background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
  background-color:#5972a7;
}
.facebook-btn:active {
  position:relative;
  top:1px;
}

.movie .side {
  float: left;
  margin-right: 25px;
  width: 200px;
}
.movie .side .imdb {
  display: inline-block;
  background-color: #efd969;
  padding: 4px 10px;
  color: black;
  font-weight: bold;
  border-radius: 4px;
}
.movie .side .tmdb {
  display: inline-block;
  background-color: #385900;
  padding: 4px 10px;
  color: #dbdbdb;
  font-weight: bold;
  border-radius: 4px;
}
.movie .side .imdb:hover {
  background-color: #fce25b;
}
.movie .side .btn {
  display: block;
  background-color: #79995e;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 10px;
  margin: 20px;
  width: 130px;
  color: white;
  text-align: center;
}
.movie .side .btn:hover {
  background-color: #83a667;
}
.movie .side .btn.remove {
  background-color: #a66767;
}
.movie .side .btn.remove:hover {
  background-color: #ba7474;
}
.movie .side .split {
  clear: both;
  border-top: 1px solid #444;
  border-bottom: 1px solid #333;
  margin: 20px 0px;
}
.movie .side .bookie img {
  width: 200px;
  border-radius: 200px;
  margin: 20px 0px;
}
.movie .side .bookie p {
  text-align: center;
}

.movie .info {
  float: left;
  width: 600px;
}
.movie .info p {
  line-height: 1.3em;
}

.movie .info h1 {
  margin-top: 0px;
}
.movie .info h1 span {
  font-size: 18px;
  color: #777;
}
.movie .cast {
  background-color: #3a3f44;
  padding: 10px 5px;
  margin: 40px 0px 0px;
  width: 600px;
  height: 110px;
}
.movie .cast p {
  text-align: center;
}

.movie .character img {
  float: left;
  width: 50px;
  height: 75px;
  margin: 0px 5px;
}
#cast-ticker.unused {
  color: #888;
}

#main.outside {
  text-align: center;
}
#main.outside h1 {
  font-size: 80px;
}
#main.outside .facebook-btn {
  margin: 30px auto;
  font-size: 30px;
  width: 300px;
}

.start-side {
  float: left;
  width: 320px;
  margin-right: 40px;
}
.hero, .admin {
  background-color: #3a3f44;
  padding: 10px 30px;
  text-align: center;
}
.hero img.poster {
  width: 260px;
  background-color: #272b30;
}
.hero img.user {
  height: 100px;
  border-radius: 100px;
  background-color: #272b30;
  margin-top: 20px;
}
.hero h1 {
  font-size: 18px;
  color: #dbdbdb;
}
.hero p {
  color: #dbdbdb;
}
.hero h1.dark {
  color: #888;
}
.hero h3 {
  margin: 5px 0px;
  font-size: 13px;
}
.admin {
  margin-top: 30px;
}
.admin h1 {
  font-size: 14px;
}
.admin a, .admin span {
  cursor: pointer;
  margin: 5px 10px;
  display: inline-block;
  background-color: #506070;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
}

.season {
  float: left;
  width: 640px;
  position: relative;
}
.season h1 {
  margin-top: 0px;
}

.config .up, .config .down {
  font-weight: bold;
  cursor: pointer;
}
.logout {
  display: inline-block;
  background-color: #ba7474;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
}

#roulette {
  width: 700px;
  background-color: #3a3f44;
  padding: 10px 30px;
  text-align: center;
  margin: 20px auto;
}
#roulette .btn {
  font-size: 30px;
  display: block;
  background-color: #79995e;
  padding: 20px 35px;
  font-weight: bold;
  border-radius: 10px;
  margin: 150px auto;
  width: 130px;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
#roulette .btn.pressed {
  background-color: #444449;
  color: #888;
}
#roulette img {
  width: 400px;
  height: 600px;
}
#roulette .spinner {
  width: 300px;
}
#chosen {
  padding-bottom: 50px;
  min-height: 700px;
}
#target {
  position: relative;
}
#target h3 {
  position: absolute;
  left: 276px;
  top: 230px;
  font-size: 50px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.7) 3px 3px 3px;
}
