body, html {
  color: #888;
  background-color: #101010;
  background-image: url("dark_wall.png");
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
}
html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #dbdbdb;
}

.clear {
  clear: both;
}
.center {
  text-align: center;
}
.hidden {
    display: none;
}

#main {
  width: 1000px;
  height: 800px;
  margin: 40px auto;
  position: relative;
}
#bar {
  width: 100%;
  height: 170px;
}
#logo {
  width: 1138px;
  height: 100%;
  margin: 0px auto;
  background-image: url("got.png");
  background-repeat: no-repeat;
}

.house {
    width: 90px;
    top: 0px;
    position: absolute;
    transition: all 2.5s ease-in-out;
}
.house.selected {
    top: 200px;
    width: 250px;
    left: 100px;
    transition: all 2.5s ease-in-out;
}
.house img.coat {
    width: 90px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    transition: all 2.5s ease-in-out;
}
.house img.avatar {
    max-width: 30px;
    max-height: 30px;
    position: absolute;
    border-radius: 500px;
    left: 60px;
    top: 85px;
}
.house .person {
    display: block;
}
.house.past img.avatar {
    display: block;
}
.house.selected {
    width: 1000px;
}
.house.selected img.coat {
    width: 250px;
    float: left;
    -webkit-filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5));
}
.house.selected img.avatar {
    max-width: 100px;
    max-height: 100px;
    right: 0px;
    left: 150px;
    top: 225px;
    box-shadow: 0px 0px 6px #000;
}
.house .person {
    font-size: 200%;
    line-height: 150%;
    float: right;
    width: 700px;
}
.house .person h3,
.house .person ul {
    margin-top: 0px;
}
.house .person h3,
.house .person i,
.house .person li {
    display: none;
}
.house .person.selected h3,
.house .person.selected ul,
.house .person.selected i {
    display: block;
}
.house .person.selected li {
    display: list-item;
}
.house.inactive .person,
.house.past .person {
    display: none;
}
.house.selected .person i {
    font-size: 80%;
}
.house.selected .person h3 {
    color: #dbdbdb;
}

.house.selected .person h3,
.house.selected .person i,
.house.selected .person ul
 {
     margin-bottom: 0px;
 }
.house .name {
    text-align: center;
    display: none;
}
.house.past:hover .name,
.house.inactive:hover .name {
    display: block;
}

#winebearer {
    top: 200px;
    width: 400px;
    left: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    position: relative;
}

#stark2.inactive, #stark2.past {left: 5px;}
#greyjoy.inactive, #greyjoy.past {left: 105px;}
#tyrell.inactive, #tyrell.past {left: 205px;}
#martell.inactive, #martell.past {left: 305px;}
#lannister.inactive, #lannister.past {left: 405px;}
#arryn.inactive, #arryn.past {left: 505px;}
#targaryen.inactive, #targaryen.past {left: 605px;}
#baratheon.inactive, #baratheon.past {left: 705px;}
#tully.inactive, #tully.past {left: 805px;}
#stark.inactive, #stark.past {left: 905px;}
    
.facebook-btn {
  margin-top: 2px;
  -moz-box-shadow:inset 0px 1px 0px 0px #616189;
  -webkit-box-shadow:inset 0px 1px 0px 0px #616189;
  box-shadow:inset 0px 1px 0px 0px #616189;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #151519), color-stop(1, #212124));
  background:-moz-linear-gradient(top, #151519 5%, #212124 100%);
  background:-webkit-linear-gradient(top, #151519 5%, #212124 100%);
  background:-o-linear-gradient(top, #151519 5%, #212124 100%);
  background:-ms-linear-gradient(top, #151519 5%, #212124 100%);
  background:linear-gradient(to bottom, #151519 5%, #212124 100%);
  background-color:#151519;
  border:1px solid #313140;
  display:inline-block;
  cursor:pointer;
  color:#acacac;
  font-family:arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}
.facebook-btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #212124), color-stop(1, #151519));
  background:-moz-linear-gradient(top, #212124 5%, #151519 100%);
  background:-webkit-linear-gradient(top, #212124 5%, #151519 100%);
  background:-o-linear-gradient(top, #212124 5%, #151519 100%);
  background:-ms-linear-gradient(top, #212124 5%, #151519 100%);
  background:linear-gradient(to bottom, #212124 5%, #151519 100%);
  background-color:#212124;
}
.facebook-btn:active {
  position:relative;
  top:1px;
}

#main.outside {
  text-align: center;
}
#main.outside h1 {
  font-size: 80px;
}
#main.outside .facebook-btn {
  margin: 30px auto;
  font-size: 30px;
  width: 300px;
}