{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Movie Night! |o/</title>

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "css.css" %}" />
    <script language="javascript" type="text/javascript" src="{% static "jquery.js" %}"></script>
    <script language="javascript" type="text/javascript" src="{% static "spin.js" %}"></script>
    <script language="javascript" type="text/javascript" src="{% static "js.js" %}"></script>
  </head>

  <body>
    <div id="bar">
      <form id="bar-content" class="movieForm" action="/">
        <a href="/">
          <h1>Movie Night!</h1>
        </a>
        {% if user.is_authenticated %}
          <input
            type="text"
            ref="search"
            name="search"
            placeholder="Search nice movies..." />

          <a href="/user/{{ user.first_name }}" class="movieNav">
            <img src="{{ user.picture }}" />
            <p>{{ user.name }}</p>
          </a>
        {% endif %}
      </form>
    </div>

    {% if user.is_authenticated %}
      <div id="main">{% block content %}{% endblock %}</div>
    {% else %}
      <div id="main" class="outside">
        <h1>
          Hey gorgeous!
        </h1>
        <p>
          To join in on the fun, you need to connect via Facebook!
        </p>
        <p>
          Give some love to the button below!
        </p>
        <a class="facebook-btn" href="/login/facebook/">
          Woo, Facebook!
        </a>
      </div>
    {% endif %}
  </body>
</html>
