{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Movie Night! |o/</title>

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "css.css" %}" />
    <script language="javascript" type="text/javascript" src="{% static "jquery.js" %}"></script>
    <script language="javascript" type="text/javascript" src="{% static "js.js" %}"></script>
    <script language="javascript" type="text/javascript" src="{% static "spin.js" %}"></script>
    <script src="http://fb.me/react-0.8.0.js"></script>
    <script src="http://fb.me/JSXTransformer-0.8.0.js"></script>
  </head>

  <body>
    <div id="container"></div>
    <script type="text/jsx" src="{% static "react.js" %}"></script>
  </body>
</html>
