{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>movienight</title>

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "css.css" %}" />
    <script language="javascript" type="text/javascript" src="{% static "jquery.js" %}"></script>
    <script language="javascript" type="text/javascript" src="{% static "js.js" %}"></script>

    <style type="text/css" media="screen">
      {% for player in players %}
        .{{ player.cls }} {
          color: {{ player.color }};
        }
        #player-{{ player.id }} .item {
          background-color: {{ player.color }};
        }
      {% endfor %}
    </style>
  </head>
  <body>
    <div id="bar">
      <div class="content">
        <h1>Movie Night!</h1>
        <input type="text" name="search" value="" placeholder="Search..."/>
      </div>
    </div>

    <div id="main">
      {% for player in players %}
        <div id="player-{{ player.id }}" class="player">
          <h1 class="{{ player.cls }}">
            {{ player.name }}
          </h1>

          <div class="score {{ player.cls }}">
            {{ player.items.count }}
          </div>

          <input type="text" name="new" player="{{ player.id }}"
            placeholder="New hipsterism"/>

          <div class="items">
            {% for item in player.items.all %}
              {% include "item.html" %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

  </body>
</html>
