{% extends "index.html" %}
{% load staticfiles %}

{% block content %}
<h1 class="center">Rolling for {{ season.next_episode }}!</h1>

<div id="roulette">
  <div id="chosen">
    <h1>You spin me right round baby right round (¬‿¬)</h1>
    <div id="target">
      <img src="/static/dogebutt.png" style="display: none;" />
      <h3 style="display: none;">Boom!</h3>
    </div>
    <div class="btn">Hit it!</div>
  </div>

  {% for movie in movies %}
    <link id="movie-{{ movie.id }}"
      rel="prefetch"
      href="{{ movie.large_poster }}"
      alt="{{ movie.title }}">
  {% endfor %}

  <link id="twilight"
    rel="prefetch"
    href="https://image.tmdb.org/t/p/original/nlvPMLCdum7bkHKmDSMnNLGztmW.jpg"
    alt="Twilight">

  <script language="javascript" type="text/javascript">
    var USERS = {
    {% for id, random in users.items %}
      {{ id }}: {{ random|safe }},
    {% endfor %}
    }
  </script>
</div>

{% endblock %}
