{% extends "index.html" %}

{% block content %}
  <div class="start-side">
    <div class="hero">
      <h3>Next up: {{ season.episode }}</h3>
      {% if next.movie %}
        <a href="/movie/{{ next.movie.id }}">
          <img
            class="poster"
            src="{{ next.movie.large_poster }}"
            alt="{{ next.movie.title }}"/>
          <h1>{{ next.movie.title }}</h1>
        </a>

        {% if booked_by.first_name %}
          <a href="/user/{{ booked_by.first_name }}">
            <img
              class="user"
              src="{{ booked_by.large_picture }}"
              alt="{{ booked_by.name }}">
            <p>
              A fine selection by {{ booked_by.name }}!
            </p>
          </a>
        {% else %}
          <img
            class="robinwilliams"
            src="https://image.tmdb.org/t/p/w396/xzM2xrbDJ0r9GZ2407Q6Sx57fuP.jpg"
            alt="R.I.P.">
          <p>
            In memory of Robin Williams. <br/>R.I.P.
          </p>
        {% endif %}
      {% else %}
        <img class="poster" src="/static/dogebutt.png" alt="wow so not movie"/>
        <h1 class="dark">No movie selected :(</h1>
      {% endif %}
    </div>
    {% if user.is_superuser %}
      <div class="admin">
        <h1>Admin tools &lt;3</h1>
        <a href="/roulette">Roll next movie</a>
        <a href="/admin" target="_blank">Site administration</a>
      </div>
    {% endif %}
  </div>

  <div class="season">
    <h1>Movie Night {{ season.index }}</h1>

    {% if season.upcoming_users %}
      <h3>Remaining</h3>
      {% for user in season.upcoming_users %}
        {% if user.has_next %}
          {% include "thumb.html" with movie=user.next_movie %}
        {% endif %}
      {% endfor %}
    {% endif %}

    <div class="clear"></div>

    <h3>Already watched</h3>
    {% for movie in season.past_movies %}
      {% include "thumb.html" %}
    {% endfor %}
  </div>
{% endblock %}
