{% extends "index.html" %}

{% block content %}
  <div class="start-side">
    <div class="hero">
      <h3>Next up: {{ season.episode }}</h3>
      {% if next.movie %}
        <a class="movie" href="/movie/{{ next.movie.id }}">
          <img
            class="poster"
            src="{{ next.movie.large_poster }}"
            alt="{{ next.movie.title }}"/>
          <h1>{{ next.movie.title }}</h1>
        </a>

        <a class="userinfo" href="/user/{{ booked_by.first_name }}">
          <img
            class="user"
            src="{{ booked_by.large_picture }}"
            alt="{{ booked_by.name }}">
          <p>
            A fine selection by {{ booked_by.name }}!
          </p>
        </a>
      {% else %}
        <img class="poster" src="/static/dogebutt.png" alt="wow so not movie"/>
        <h1 class="dark">No movie selected :(</h1>
      {% endif %}
    </div>
    {% if user.is_superuser %}
      <div class="admin">
        <h1>Admin tools &lt;3</h1>
        {% if season.has_episodes_left %}
          <a href="/roulette">Roll next movie</a>
        {% else %}
          <a href="#" id="next_season">Start {{ season.next_season }}</a>
        {% endif %}
        <a href="/admin" target="_blank">Site administration</a>
      </div>
    {% endif %}
  </div>

  <div class="season">
    <h1>Movie Night <span>{{ season.index }}</span></h1>

    {% if season.id == 1 %}
      {% if season.upcoming_users %}
        <h3>Remaining</h3>
        {% for user in season.upcoming_users %}
          {% if user.has_next %}
            {% include "thumb.html" with movie=user.next_movie %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% else %}
      {% if season.upcoming_users %}
        <h3>Remaining</h3>
        {% for user in season.upcoming_users %}
          {% include "userlist.html" with user=user %}
        {% endfor %}
      {% endif %}
    {% endif %}

    <div class="clear"></div>

    <h3>Already watched</h3>
    {% for movie in season.past_movies %}
      {% include "thumb.html" %}
    {% endfor %}
  </div>
{% endblock %}
